SUPABASE_URL=https://rusmnrgfbxffskyqiygc.supabase.co
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PROJECT_REF=rusmnrgfbxffskyqiygc

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=

OPENAI_API_KEY=

